<!-- block:contents -->
	 <div class="row">
        <div class="span8">
         	<h2>History</h2>
        	<p>
        		I've created MoodFlip after I joined the #bghackathon and got inspired by everyone who joined it. I decided I wanted to create something fun and useable. Even if the results aren't always what they're supposed to be, you should enjoy it. Cause life is more fun when you just have fun. :)
         	</p>
        </div>
       
        <div class="span4">
        	<h2>Future</h2>
         	<p>The following features will be added in future releases:</p>
         	<ul>
         		<li> lalala </li>
         	</ul>
          	<p><a class="btn" href="#">Contact me &raquo;</a></p>
        </div>
      </div>
<!-- endblock -->