<!-- block:contents -->
    <style>
        .hero-unit {
          color: white;
          background: url(global/img/cover1.png);
        }
        .hero-unit span {
          color:black;
        }
   	</style>

    <div class="alert">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<strong>What I wanted to tell you: </strong>{{message}}
	</div>

      <div class="hero-unit">
        <h1>Mood<span>Flip</span></h1>
        <p>
          
			<form method="post" action="mood">
				<!-- if {{is_array(emotions)}} -->
					My current mood is 
					<select name="currentMood" style="width:120px; margin-left:5px; margin-right:5px;">
						<!-- loop emotions -->
							<option value="{{l' k}}" <!-- if {{l' k}}=={{defaultEmotions.currentMood}} -->selected="selected"<!-- endif -->>{{l' v.value}}</option>
						<!-- endloop -->
					</select>
					and I'd like to change it into
					<select name="futureMood" style="width:120px; margin-left:5px; margin-right:5px;">
						<!-- loop emotions -->
							<option value="{{l' k}}" <!-- if {{l' k}}=={{defaultEmotions.futureMood}} -->selected="selected"<!-- endif -->>{{l' v.value}}</option>
						<!-- endloop -->
					</select>
				<!-- endif -->
				<!-- if {{is_array(times)}} -->
					in
					<select name="minutes" style="width:50px; margin-left:5px; margin-right:5px;">
						<!-- loop times -->
							<option value="{{l' v}}" <!-- if {{l' v}}=={{defaultEmotions.timeNeeded}} -->selected="selected"<!-- endif -->>{{l' v}}</option>
						<!-- endloop -->
					</select>
					minutes.
				<!-- endif -->
				<div>
					<button type="submit" class="btn-primary btn-large right">Change mood</button>
				</div>
			</form>
		</p>
      </div>
<!-- endblock -->
